.profiles {

}

.cute_pets {
  float: left;
  width: 225px;
  margin: 20px;
}

.cat {
  background-color: #cc6153;
  padding: 10px;
}

.dog {
  background-color: #a3d185;
  padding: 10px;
}

.bear {
  background-color: #e5bd89;
  padding: 10px;
}

.pig {
  background-color: #89b7e5;
  padding: 10px;
}

h1, h2 {
  text-align: center;
  font-family: 'Chewy', cursive;
}

h1 {
  font-size: 48px
}

img {
  display: block;
  margin: auto;
  width: 180px
}

p {
  font-family: 'Handlee', cursive;
  font-size: 18px;
}
