.profiles {

}

.cute_pets {
  float: left;
  width: 250px;
  margin: 20px;
}

.cat {
  background-color: #cc6153;
  padding: 10px;
}

.dog {
  background-color: #a3d185;
  padding: 10px;
}

.bear {
  background-color: #e5bd89;
  padding: 10px;
}

.pig {
  background-color: #89b7e5;
  padding: 10px;
}

h1, h2 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}
